<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nas.watchlist_sjdewijs">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HttpRequestHelper"
            android:label="Sends http request"
            android:theme="@style/AppTheme"/>

<!--        <activity android:name=".MovieAsyncTask"
            android:label="Manages threads"
            android:theme="@style/AppTheme"/>-->

<!--        <activity android:name=".MovieData"
        android:label="Contains data of chosen movie"
        android:theme="@style/AppTheme"/>-->

        <activity android:name=".MoviesAdapter"
            android:label="Contains adapter used for listview"
            android:theme="@style/AppTheme"/>

        <activity android:name=".SavedWatchList"
            android:label="Contains list of previously watched movies"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>